section {
    font-family: 'Yomogi', cursive;
}

section > h1 {
    border-bottom: solid rgb(173, 202, 173) 1px;
    border-left: solid rgb(173, 202, 173) 3px;
    padding-bottom: 5px;
    padding-left: 9px;
    font-size: 35px;
    font-family: 'Noto Sans JP', sans-serif;
}

section > p {
    padding-left: 15px;
    font-size: 25px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}